	.ventanas{
		position: absolute;
		overflow: hidden;
	}

	.ventanas .panel-heading .btn-group {
			margin: 0px;
			padding: 0px;
			margin-right: -12px;
    		margin-top: -2px;
    		margin-bottom: -6px;
	}

	ul#menupersonalizado li ul .dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover{
		background: rgba(90, 137, 248, 0.71);
	}

	.ventanas .panel-heading{ cursor: move; }

	ul#usersparticipante{
		padding: 1ex 1.5ex;
    	list-style: none;
	}
	ul#usersparticipante li{
		padding: 0.25ex;
    	position: relative;
	}
	.userchataccion{
		position: absolute;
    	right: 0.25ex;
	}
	hr.midivider{
		margin: 0px;
	    border: 0;
	    border-top: 1px solid #29bd5d;
	}
	.miestatus i.fa{
		width: 25px;
	}
	.miestatus i.fa-user, .userstatus i.fa-user{
		color: #a4a9a5; 
	}
	.miestatus i.fa-users, .userstatus i.fa-users{
	color: #337ab7;
	}

	.miestatus i.fa-cubes ,.userstatus i.fa-cubes{
		color: red ;
	}

	.userstatus.active::after{
	    content: "\f00c";
	    font-family: FontAwesome;
	    padding-right: 1em;
	    position: absolute;
	    right: 0;
    }

    

	#pantalla1 .panel-body{
	   	padding: 0.25px;
	   	min-height: 100px;
	   	overflow: auto;
	}

	.note-desktop {
	    display: none;
	}

	 .mce-tinymce, .mce-edit-area.mce-container, iframe, .mce-container-body.mce-stack-layout
	{
	    height: 100% !important;
	}
	.mce-container-body.mce-stack-layout{
		overflow: hidden;
	}


	.botones-compartir{
		position: absolute;
		top: 35%;
	}
	.btncompartir{
		width: 100px;
		height: 100px;
		margin-bottom: 5px;
	}

	.grupo-opciones{display: inline-block;}
	.grupo-opciones:not(:first-child){
		border-left: 1px solid #d9d9d9;
	    margin-left: 3px;
	    padding-left: 6px;
	}
	.grupo-opciones .btn{min-width: 24.7px;}

	#vparticipantes{
		top:0; width: 20%; height: 49%; display:block;
	}
	#vchat{
		top:50%; width: 20%; height: 49%; display:block;
	}
	#vinformation{
		top:0%; left: 20.5%; width: 79%; height: 99%; display:block;
	}

	#vnotas, #vpizarra, #vinvite, #vfiles, #vemiting , #vencuesta, #vvideos, #vaudios{
		border: 1px solid #ccc;
		top:25%; left: 25%; width: 50%; height: 50%; display:none;
	}

	#vwebcam{
		bottom:5%; right: 5%; width: 200px; height: 150px; display:none;
	}

	#vlink{
		bottom:30%; right: 0%; width: 50px; height: 250px;
	}

	.ventanas .panel-body{	
		position: absolute; top: 40px; width: 100%; height: 90%; color: #292925;  padding: 1ex;
		overflow: hidden;
	}

	.ventanas.active{
		z-index: 91;
	}


	/*************** chats *******************/
	.chatAll::-webkit-scrollbar {
	     width: 1.5ex;
	}
	 
	.chatAll::-webkit-scrollbar-track {
		background-color:  #545453;
	    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	}
	 
	.chatAll::-webkit-scrollbar-thumb {
	 background-color: #545453;
	 outline: 1px solid hsl(347, 4%, 31%);
	}

	.chatAll .mensajes .globoright, .chatAll .mensajes .globoleft , .chatAll .mensajes .isprivate .globoright, .chatAll .mensajes .isprivate .globoleft{	
	    padding: 0.5ex;
	    position: relative;
	    border-radius: 0.5ex;
	    color: #d0cbb9;
	    z-index: 9;
	    max-width: 90%;
	    min-width: 75%;
	    margin-right: 15px;
	   
	    background: #7b0419;
	    padding: 1ex;
	}
	.chatAll .mensajes .globoleft{ 
		margin-right: 0px;
		margin-left: 15px; 
	    color: #353232;
	    background: rgb(172, 176, 230); }
	.chatAll .mensajes .isprivate .globoleft{  background: rgb(230, 95, 73); }

	.chatAll .mensajes .globoright:after , .chatAll .mensajes .globoleft:before, .chatAll .mensajes .isprivate .globoright:after , .chatAll .mensajes .isprivate .globoleft:before{
		position: absolute; 
		bottom: 40%; 
		border: solid;
		z-index: 8;
		content: "";
	}

	.chatAll .mensajes .globoright:after{	   
	    right: -10px;   
	    border-color: rgba(123,4,25, 0.8) transparent;
	    border-width: 0px 11px 11px 4px;    
	}
	.chatAll .mensajes .isprivate .globoright:after{	   
	    right: -10px;   
	    border-color: rgb(230, 95, 73) transparent;
	    border-width: 0px 13px 27px 0px;   
	}

	.chatAll .mensajes .globoleft:before{
	    left: -15px;
	    border-color: rgb(172, 176, 230) transparent;
	    border-width: 25px 0px 0px 15px;
	}

	.chatAll .mensajes .isprivate .globoleft:before{
	    left: -15px;
	    border-color: rgb(230, 95, 73) transparent;
	    border-width: 25px 0px 0px 15px;
	}

	.globoright .chattime , .globoleft .chattime{
		font-size:11px;
		text-align: right;
		width: 100%;
	}

	.globoright .chattime{ color: #ccc;}
	.globoleft .chattime{color: #902929;}

	.chatAll .mensajes .mensaje{
		padding: 0.5ex;
	}

	.colored{
		color:#ff2525
	}
	.colorgreen{
		color:#6ce06c;
	}

	video{
		width: 100%;
	}

	canvas {
	  width: 100%;
	  min-height: 150px;
	  height: auto;
	}
	.ct-label{
		font-weight: bold;
		font-size: 0.9em;
	}

	#showiconos i.em{
		cursor: pointer;
	}
	.sysmenu , .sysmenu ul {
		list-style:none;
	}
	ul.sysmenu{
		margin: -1px 0px;
    	padding: 0px;
    	position: relative;
    	font-size: 12px !important;
	}
							
	.sysmenu li {
		background-color:#fff;
		border:1px solid #ccc;
		cursor: pointer;
		text-decoration:none;
		/*font-size: 11px;
		padding: 0.5ex !important;
		min-width: 33px;
    	min-height: 22px;*/	
	}

	.sysmenu li i.fa{ font-size: 12px; }
	
	.sysmenu li:hover {
		background-color:#4f7ff1;
		
	}
	
	.sysmenu li ul {
		right: 0px;
		min-width: 140px;
		display:none;
		position:absolute;	
		z-index: 10;						
	}
	
	.sysmenu li:hover > ul {
		display:block;
	}
	
	.sysmenu li ul li {
		position:relative;
		padding: 0.5ex !important;
	}
	
	.sysmenu li ul li ul {
		right:0px;
		top:0px;
	}
	.iconactive{ color:green; }
	.iconinactive{ color:red; }	

	.fa-microphone-slash{
		color:red;
	}
