<style>

h2{
    text-align: center;
    font-size: 40px;
    font-family: arial;
    margin-top: 15px;
    color: black;
    text-shadow: 0px 0px 6px black;
}

.content-all{
    width: 210px;
    margin: auto;
    perspective: 800px;
    position: relative;
    margin-top: 50px;
}

.content-carrousel{
    width: 100%;
    position: absolute;
    animation: rotar 10s infinite linear;
    transform-style: preserve-3d;
}

.content-carrousel:hover{
    animation-play-state: paused;
    cursor: pointer;
}


.content-carrousel figure{
    width: 50%;
    overflow: hidden;
    position: absolute;
    box-shadow: 0px 0px 20px 0px black;
    transition: all 300ms;
    background: white;
    
}

.content-carrousel figure:hover{
    box-shadow: 0px 0px 0px 0px black;
    transition: all 300ms;
}

.content-carrousel figure:nth-child(1){transform: rotateY(0deg) translateZ(300px);}
.content-carrousel figure:nth-child(2){transform: rotateY(40deg) translateZ(300px);}
.content-carrousel figure:nth-child(3){transform: rotateY(80deg) translateZ(300px);}
.content-carrousel figure:nth-child(4){transform: rotateY(120deg) translateZ(300px);}
.content-carrousel figure:nth-child(5){transform: rotateY(160deg) translateZ(300px);}
.content-carrousel figure:nth-child(6){transform: rotateY(200deg) translateZ(300px);}
.content-carrousel figure:nth-child(7){transform: rotateY(240deg) translateZ(300px);}
.content-carrousel figure:nth-child(8){transform: rotateY(280deg) translateZ(300px);}
.content-carrousel figure:nth-child(9){transform: rotateY(320deg) translateZ(300px);}
.content-carrousel figure:nth-child(10){transform: rotateY(360deg) translateZ(300px);}

.content-carrousel img{
    width: 100%;
    transition: all 300ms;
}

.content-carrousel img:hover{
    transform: scale(1.2);
    transition: all 300ms;
}


@keyframes rotar{
    from{
        transform: rotateY(0deg);
    }to{
        transform: rotateY(360deg);
    }
}
body{
    background: url('../static/libreria/image/library_1.jpg');
    background-size:100% 100%;
    background-repeat: no-repeat;
}
</style>
<body>
<div id="contenedorPrincipal" style="margin: 0 100px;border-radius: 15px">
<div class="contenedor" style="height: 400px;display: flex;flex-wrap: wrap;justify-content: center;">
  <div class="row">
      <h2 translate="favoritos">Mis favoritos</h2>
      <div class="content-all">
          <div class="content-carrousel" >

              <figure ng-repeat="row in estudioFavoritos"><a ng-click=verGeneral(row.id_tipo,row.id_estudio)><img ng-src="../static/libreria/image/{{row.foto}}"></a</figure>
          </div>
      </div>
  </div>
</div>
<div class="contenedor" style="height: 400px;display: flex;flex-wrap: wrap;justify-content: center;">
  <div class="row">
      <h2 translate="descargados">Más Descargados</h2>
      <div class="content-all">
          <div class="content-carrousel" >
              <figure ng-repeat="row in estudioDescargados"><a ng-click=verGeneral(row.id_tipo,row.id_estudio)><img ng-src="../static/libreria/image/{{row.foto}}"></a</figure>
          </div>
      </div>
  </div>
</div>

<div class="contenedor" style="height: 400px;display: flex;flex-wrap: wrap;justify-content: center;">
  <div class="row">
      <h2>Nuevos</h2>
      <div class="content-all">
          <div class="content-carrousel">       
              <figure ng-repeat="row in estudioNuevos"><a ng-click=verGeneral(row.id_tipo,row.id_estudio)><img ng-src="../static/libreria/image/{{row.foto}}"></a</figure>
          </div>ng-src
      </div>
  </div>
</div>
</div>
</body>