<link href="./css/estilospag.css" rel="stylesheet" type="text/css" />
<style type="text/css">

  .imag{
    width: 60%;
  }
  .img-libro{
    text-align: center;
  }
  #btnHistorial{
  color: white;
}
#btnHistorial:hover{
  color: white;
}
</style>
<body>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="col-ms-12 pnl-formulario">
        <div class="row">
            <div class="col-md-12">
              <div class="nuevo">
                <div class="row" style="padding: 0 15px">
                  <a id="btnHistorial" class="btn btn-primary" type="submit" ng-click="irLibro()" style="display:block; width:10%"><i class="fa fa-arrow-left" style="margin-right:5px"></i><h5 translate="atras" style="margin:auto"></h5></a>
                </div>
                <div class="col-md-4 img-libro">
                  <img class="img-responsive2 imag" ng-src="../static/libreria/image/{{bib_estudio.foto}}"/> </a> 
                </div>      
                <div class="col-md-7 col-xs-12">
                  <label for="" translate="titulo"></label><br>
                  <div>
                    <input type="text" class="col-md-12 col-xs-12" ng-model="bib_estudio.nombre" disabled>
                  </div>
                  <label for="" translate="codigo"></label><br>
                  <div>
                    <input type="text" class="col-md-12 col-xs-12" ng-model="bib_estudio.codigo" disabled>
                  </div>
                  <label for="" translate="resumen"></label><br>
                  <div>
                    <textarea class="col-md-12 col-xs-12" cols="30" rows="3" ng-model="bib_estudio.resumen" disabled></textarea>
                  </div>
                </div>    
              </div>    
            </div>
        </div>  
      </div>  
    </div>  
  </div>

  <!-- <div class="row" id="botonesLibro">
    <div class="col-md-4">
      <button type="button" class="btn btn-primary">Descargar</button>
    </div>
  </div> 
  <div class="row" id="botonesLibro">
    <div class="col-md-4">
      <button type="button" class="btn btn-primary">Reservar</button>
  </div>
  </div>  -->   
</div>
</body>