<link href="./css/estilos-nuevo.css" rel="stylesheet" type="text/css" />
<!-- <link href="../frontend/plantillas/tema1/css/inicio1.css" rel="stylesheet" type="text/css" /> -->
<body>
    <div class="container container1" style="background:white">
        <div class="panel-body">
            <div class="panel pnl100">
                <div class="panel-body">
            <div class="col-xs-12 col-sm-6 col-md-6" style="padding: 0px;">
                <div class="panel-body" style="padding-bottom: 21px; border-bottom: 1px solid #f4f4f4;">
                    <div class="col-xs-12 col-sm-12 col-md-12">
                        <div class="form-group">
                           <div class="input-group cajaselect">
                              <span class="input-group-addon">Código</span>
                              <select class="conestilo" name="" id="" ng-model="bib_estudio.codigo">
                                  <option value="1">ISBN</option>
                                  <option value="2">ISSN</option>
                                  <option value="3">Otro</option>
                                  
                              </select>
                            </div>
                            <input type="text" class="form-control gris" id="titulo"  name="titulo" placeholder="Agregar Código" value=""> </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12">
                        <div class="form-group">
                           <div class="input-group">
                             <label for="">Título</label>
                            </div>
                            <input type="text" class="form-control gris" id="titulo" name="titulo" placeholder="Escriba el título" value="" ng-model="bib_estudio.nombre"> </div>
                    </div>
                    
                </div>
            </div>
            <div class="panel col-xs-12 col-sm-6 col-md-6" id="imagen" style="padding: 0px;">
                <div class="panel-body">
                    <div class="col-xs-12 col-sm-12 col-md-12">
                        <div style="text-align: center; max-height: 250px; overflow: hidden;"> 
                        <div class="img-container" style="position: relative;">
                      <input type="file" class="cargarfile" data-tipo="image" data-target="hImgPortada" accept="image/*" style="position: absolute; opacity: 0; height: 150px;">
                      <img src="./../static/media/web/nofoto.jpg" class="img-responsive" alt="imgfoto" id="imgPortada" style="height: 150px; display: inline;">
                      <input type="hidden" name="hImgPortada" id="hImgPortada" value="">
                    </div>
                      
                      <div class="col-md-12 col-sm-12 col-xs-12" style="display: flex; justify-content: center; margin-top: 1.5rem;">
               
                 <span class="btn btn-default btn-file"> 
                  <i class="fa fa-upload"></i> Seleccionar Documento 
                  <input data-texto="Documento" data-campo="archivo" data-action="https://edutec1.com/ingles/frontend/bib_estudio/subir_archivo/?arc=archivo&amp;tipo=doc" type="file" uploader-model="fileArchivo" name="fileArchivo" id="fileArchivo" class="cargarfile" data-tipo="pdf" data-target="hNombreArchivo" accept="*">
                  <input type="hidden" name="hNombreArchivo" id="hNombreArchivo" value="">
                </span>
              </div>

                            </div>
                        <div class="clearfix"></div>
                    </div>
                    
                </div>
            </div>
           
          <div class="panel col-xs-12 col-sm-12 col-md-12">
                <div class="col-xs-12 col-sm-12 col-md-3">
                     <div class="form-group">
                           <div class="input-group cajaselect">
                              <span class="input-group-addon">Tipo</span>
                              <select class="conestilo" name="" id="" ng-options="item.id_tipo as item.nombre for item in tipo" ng-model="bib_estudio.id_tipo">
                                  <option value="">--Seleccione--</option>
                              </select>
                            </div>
                      </div>
                  </div>
                  <div class="col-xs-12 col-sm-12 col-md-3">
                     <div class="form-group">
                           <div class="input-group cajaselect">
                              <span class="input-group-addon">Setting</span>
                              <select class="conestilo" name="" id="" ng-options="item.id_setting as item.cant_descargas for item in setting" ng-model="bib_estudio.id_setting">
                                  <option value="">--Seleccione Setting--</option>
                              </select>
                            </div>
                      </div>
                  </div>
                <div class="col-xs-12 col-sm-12 col-md-3">
                        <div class="form-group">
                           <div class="input-group cajaselect">
                              <span class="input-group-addon" >Idioma</span>
                              <select class="conestilo" name="" id="" ng-options="item.id_idioma as item.descripcion for item in idioma" ng-model="bib_estudio.id_idioma" style="text-transform: capitalize;">
                                  <option value="">--Seleccione Idioma--</option>
                              </select>
                            </div>                            
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-3">
                        <div class="form-group">
                           <div class="input-group cajaselect">
                              <span class="input-group-addon">Condición</span>
                              <select class="conestilo" name="" id="" ng-model="bib_estudio.condicion">
                                 <option value="">--Seleccione--</option>
                                  <option value="gratis">Gratis</option>
                                  <option value="alquiler">Alquiler</option> 
                                  <option value="venta">Venta</option> 
                              </select>
                            </div>
                            
                    </div>
                </div>
                </div>

            </div>
            <div class="panel col-xs-12 col-sm-12 col-md-12">
                <div class="panel-body">
                    <div class="col-xs-12 col-sm-12 col-md-3" >
                        <div class="form-group">
                           <div class="input-group">
                              <span class="input-group-addon">$</span>
                              <input type="number" min="0" class="form-control" aria-label="Amount (to the nearest dollar)" ng-model="bib_estudio.precio">
                            </div>                            
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-3">
                            <div class="input-group cajaselect">
                              <span class="input-group-addon" >Editorial</span>
                              <select class="conestilo" name="" id="" ng-options="item.id_editorial as item.nombre for item in editorial" ng-model="bib_estudio.id_editorial" style="text-transform: capitalize;">
                                  <option value="">Seleccione</option>
                              </select>
                            </div>  
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-3">
                            <div class="form-group">
                               <div class="input-group">
                                  <span class="input-group-addon">Edicion</span>
                                  <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)" ng-model="bib_estudio.edicion">
                                </div>                            
                            </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-3">
                            <div class="form-group">
                               <div class="input-group">         
                                <input type="date" ng-change="filtroFechas()" class="form-control" name="fecha" ng-model="bib_estudio.fecha">
                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="panel col-xs-12 col-sm-12 col-md-12">
                <div class="panel-body">
                    <div class="col-xs-12 col-sm-12 col-md-12">
                        <div class="form-group">
                           <div class="input-group">
                              <label for="">Autor (es):</label>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-*" ng-repeat="rowAutor in autor" style="display:flex">
                            <input type="checkbox" value="true" ng-model="rowAutor.estado">
                            <label style="padding-top:5px; text-transform:capitalize;font-weight:inherit">{{rowAutor.nombre+' '+rowAutor.ap_paterno}}</label>
                            </div>
                        </div>
                    </div>
                            
                </div>
        </div>
        
        <div class="panel col-xs-12 col-sm-12 col-md-12">
                <div class="panel-body">
                    <div class="col-xs-12 col-sm-12 col-md-12">
                        <div class="form-group">
                           <div class="input-group">
                              <label for="">Categoría (s):</label>
                            </div>
                            <div class="col-md-4 col-sm-6 col-xs-*" ng-repeat="rowDetalle in detalle" style="display:flex">
                                <input type="checkbox" value="true" ng-model="rowDetalle.estado">
                                <label style="padding-top:5px; text-transform:capitalize; font-weight:inherit">{{rowDetalle.categoria + ' '+'para'+' '+rowDetalle.subcategoria}}</label>
                            </div>
                        </div>
                    </div>
                            
                    </div>
        </div>   
        <div class="panel col-xs-12 col-sm-12 col-md-12">
                <div class="panel-body">
                    <div class="col-xs-12 col-sm-12 col-md-12">
                        <div class="form-group">
                           <div class="input-group">
                              <label for="">Resumen:</label>
                            </div>
                            <textarea name="" id="" rows="3" ng-model="bib_estudio.resumen" style="width:100%"></textarea>
                           </div>
                            </div>
                            
                    </div>
        </div>  
            <hr>
        <div class="col-xs-12 col-sm-12 col-md-12 text-center">
                <br>
                 <a type="button" class="btn btn-success" ng-click="editarEstudios()" href="#/estudios" data-dismiss="modal"><i class=" fa fa-save"></i> Modificar</a>
                   <a type="button" class="btn btn-danger" href="#/estudios" data-dismiss="modal"><i class=" fa fa-save"></i> Cancelar</a>
        </div>
            
            
            </div>
</div></div></div>
</body>