<link href="./css/estilospag.css" rel="stylesheet" type="text/css" />
<body>
<div class="container nuevo">
  <div class="row">
    <div class="col-md-4">
      <img class="img-responsive2 imag" ng-src="../static/libreria/image/{{bib_libro.foto}}">    
    </div>      
    <div class="col-md-8 col-xs-12">
      <div class="row">
        <label for="">Título</label><br>
        <div>
          <input type="text" class="col-md-12 col-xs-12" ng-model="bib_libro.nombre" disabled>
        </div>
      </div>
      <div class="row">
        <label for="">Código</label><br>
        <div>
          <input type="text" class="col-md-12 col-xs-12" ng-model="bib_libro.codigo" disabled>
        </div>
      </div>
      <div class="row">
        <label for="">Resumen</label><br>
        <div>
          <textarea class="col-md-12 col-xs-12" cols="30" rows="3" ng-model="bib_libro.resumen" disabled></textarea>
        </div>
      </div>
    </div>
  </div>

  <div class="row" id="botonesLibro">
    <div class="col-md-4">
      <button type="button" class="btn btn-primary">Descargar</button>
    </div>
  </div> 
  <div class="row" id="botonesLibro">
    <div class="col-md-4">
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Reservar</button>
  </div>
  </div>    
  </div>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Modal Header</h4>
      </div>
      <div class="modal-body">
        <p>Some text in the modal.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Aceptar</button>
      </div>
    </div>

  </div>
</div>
</body>