<link href="./css/estilospag.css" rel="stylesheet" type="text/css" />
<body>
<div class="container nuevo">
  <div class="panel-body">
    <div class="col-md-4" ng-repeat="row in tipo" ng-if="row.filtro==1">
      <div class="row">
        <div class="col-md-4 col-sm-2 col-xs-3" style="background:#ccc; text-transform: capitalize; margin: 0 15px;">
    	       <label for="">{{row.nombre}}</label>
        </div>

     </div>
        <img class="img-responsive" src="/angular/app/images/nofoto.jpg" ng-click="selecionarTipo(row.idtipo)"><br>     
    </div>

  	<div class="col-md-12" style="    display: flex; flex-wrap: wrap; justify-content: center;">
      <div class="hvr-float" ng-repeat="row in selectLibros" style="width: 15%; display: inline-block; margin: 0.25ex 0.5ex; border: 1px solid #f00; box-shadow: 0px 2px 25px rgba(0, 0, 0, .25);">
            <!-- <img class="img img-responsive" src="../static/libreria/image/{{row.foto}}" ng-click="verLibro(row.idlibro)" > -->

            <div class="namelevel text-center"><strong>{{row.nombre}}</strong></div>
        </div>							
    </div>
     <button type="button" id="botonAtras" class="btn btn-primary" ng-click="selecionarTipo(0)">Atrás</button>
    </div>
    </div> 
</body>