<link href="./css/estilospag.css" rel="stylesheet" type="text/css" />
<link href="../modbiblioteca/css/estilospag.css" rel="stylesheet" type="text/css" />
<style>
.cont-img{
  border:  1px solid #4466bb;
}
  .i{
    border:  1px solid #4466bb;
    background: #fff;
  }
  .i:hover{
    background: #4466bb;
  }
   .pagination{
    float: right;
    font-size: 1rem;
    cursor: pointer;
  }
</style>
<body>
<div class="container nuevo">
  <div class="panel-body">
   <div class="row btn-nuevo">
      <a type="button" class="btn btn-success" href="#/multimedia/agregar" data-dismiss="modal"><i class=" fa fa-plus" style="margin-right:5px"></i><h5 translate="nuevo" style="display:inline-block; font-size: 1rem;margin:0"></h5></a>
   </div>
    <div class="col-md-4" ng-repeat="row in tipo" ng-if="row.id_registro==2">
      <div class="row cabecera">
        <div class="col-md-6 col-sm-6 col-xs-6" id="nombre" style="background:#ccc; text-transform: capitalize;">
    	       <label for="">{{row.nombre}}</label>
        </div>

      </div>
      <img class="img-responsive" ng-src="../static/libreria/image/{{row.foto}}" ng-click="selecionarTipo(row.id_tipo)" style=" width:50%; overflow:hidden"><br>     
    </div>

  	<div class="col-md-12" style="display: flex; flex-wrap: wrap; justify-content: center;">
      <div class="hvr-float cont-img" ng-repeat="row in selectEstudios">
           <div class="namelevel text-right i">
                <a href="#/multimedia/editar/{{row.id_estudio}}"><i class="fa fa-pencil-square-o"></i></a>
               <a ng-click="eliminar(row.id_estudio)"> <i class="fa fa-trash"></i></a>
            </div>
            <img class="img img-responsive" ng-src="../static/libreria/image/{{row.foto}}" ng-click="verEstudio(row.id_estudio)">

            <div class="namelevel text-center"><strong>{{row.nombre}}</strong></div>
        </div>							
    </div>

    <ul ng-if="pager.pages.length" class="pagination">
                <li ng-class="{disabled:pager.currentPage === 1}">
                    <a ng-click="setPage(1)" translate="primera"></a>
                </li>
                <li ng-class="{disabled:pager.currentPage === 1}">
                    <a ng-click="setPage(pager.currentPage - 1)" translate="anterior"></a>
                </li>
                <li ng-repeat="page in pager.pages" ng-class="{active:pager.currentPage === page}">
                    <a ng-click="setPage(page)">{{page}}</a>
                </li>                
                <li ng-class="{disabled:pager.currentPage === pager.totalPages}">
                    <a ng-click="setPage(pager.currentPage + 1)" translate="siguiente"></a>
                </li>
                <li ng-class="{disabled:pager.currentPage === pager.totalPages}">
                    <a ng-click="setPage(pager.totalPages)" translate="ultima"></a>
                </li>
            </ul>
    
    </div>
    <button type="button" id="botonAtras" class="btn btn-primary" ng-click="irMultimedia()" translate="atras"></button>
    </div>
    </div> 
</body>