<link href="./css/estilos-nuevo.css" rel="stylesheet" type="text/css" />
<!-- <link href="../frontend/plantillas/tema1/css/inicio1.css" rel="stylesheet" type="text/css" /> -->
<script data-require="bootstrap@*" data-semver="3.3.1" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
<script data-require="angular.js@1.3.0" data-semver="1.3.0" src="https://code.angularjs.org/1.3.0/angular.js"></script>
<body>
    <div class="container container1" style="background:white">
      <div class="panel-body">
        <div class="panel pnl100">
          <div class="panel-body">

            <div class="panel col-xs-12 col-sm-12 col-md-12">
                  <div class="panel-body">
                  <!--TIPO DE REGISTRO-->
                    <div class="col-xs-12 col-sm-12 col-md-4">
                      <div class="form-group">
                        <div class="input-group cajaselect">
                          <span class="input-group-addon" translate="tipo"></span>
                          <select disabled class="conestilo">
                              <option value="2" translate="multimedia"></option>
                          </select>
                        </div> 
                      </div>
                    </div>
                  </div>
            </div>

            <div class="panel col-xs-12 col-sm-12 col-md-12">
            <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="panel-body" >
                  <!--CÓDIGO//TÍTULO-ABREV//NÚMERO DE PÁGINAS-->
                  <div class="col-xs-12 col-sm-12 col-md-12">
                    <div class="form-group">
                      <div class="input-group">
                        <label for="" translate="titulo">:</label>
                      </div>
                      <input type="text" class="form-control gris" id="titulo" name="titulo" placeholder="Escriba el título" value="" ng-model="estudio.nombre"> 
                    </div>
                  </div>

                  <div class="col-xs-12 col-sm-12 col-md-12">
                    <div class="form-group">
                      <div class="input-group">
                        <label for="" class="input-group-addon" translate="tabreviado"></label>
                        <input type="text" class="form-control gris" name="titulo_abreviado" value="" ng-model="estudio.nombre_abreviado">
                      </div>
                    </div>                       
                  </div>
            
                </div>
            </div>
            <!-- SUBIR IMÁGENES Y AUDIO-->
            <div class="col-xs-12 col-sm-6 col-md-6" id="imagen" style="padding: 0px;">
              <div class="panel-body">
                <div class="col-xs-12 col-sm-12 col-md-12">
                  <div style="text-align: center; max-height: 250px; overflow: hidden;"> 
                    <div class="img-container" style="position: relative;">
                      <input type="file" class="cargarfile" data-tipo="image" data-target="hImgPortada" accept="image/*" style="position: absolute; opacity: 0; height: 150px; cursor: pointer" disabled>
                      <img src="./app/images/nofoto.jpg" class="img-responsive" alt="imgfoto" id="imgPortada" style="height: 150px; display: inline">
                      <input type="hidden" name="hImgPortada" id="hImgPortada" value="" disabled>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12" style="display: flex; justify-content: center; margin-top: 1rem;">
                      <input type="text" class="form-control gris" name="foto" placeholder="Escriba el nombre de archivo de la foto" value="" ng-model="estudio.foto">
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12" style="display: flex; justify-content: center; margin-top: 1rem;">
                                 
                      <span class="btn btn-default btn-file" translate="documento"> 
                        <i class="fa fa-upload"></i> 
                        <input data-texto="Documento" data-campo="archivo" data-action="https://edutec1.com/ingles/frontend/bib_libro/subir_archivo/?arc=archivo&amp;tipo=doc" type="file" uploader-model="fileArchivo" name="fileArchivo" id="fileArchivo" class="cargarfile" data-tipo="pdf" data-target="hNombreArchivo" accept="*">
                        <input type="hidden" name="hNombreArchivo" id="hNombreArchivo" value="">
                      </span>
                    </div>
                  </div>
                  <div class="clearfix"></div>
                </div>
              </div>
            </div>
            </div>
            
            <!-- TIPO//SETTING//IDIOMA//CONDICION-->
            <div class="panel col-xs-12 col-sm-12 col-md-12">
              <div class="col-xs-12 col-sm-12 col-md-4">
                <div class="form-group">
                  <div class="input-group cajaselect">
                    <span class="input-group-addon" translate="">tipo</span>
                    <select class="conestilo" name="" ng-options="item.id_tipo as item.nombre for item in tipo" ng-model="estudio.id_tipo">
                        <option value="" translate="seleccionar"></option>
                    </select>
                  </div>
                </div>
              </div>
              
              <div class="col-xs-12 col-sm-12 col-md-4">
                <div class="form-group">
                  <div class="input-group cajaselect">
                    <span class="input-group-addon" translate="idioma"></span>
                    <select class="conestilo" name="" id="" ng-options="item.id_idioma as item.descripcion for item in idioma" ng-model="estudio.id_idioma" style="text-transform: capitalize;">
                        <option value="" translate="seleccionar"></option>
                    </select>
                  </div>                            
                </div>
              </div>

              <div class="col-xs-12 col-sm-12 col-md-4">
                <div class="form-group">
                  <div class="input-group cajaselect">         
                    <input type="date" ng-change="filtroFechas()" class="conestilo form-control" name="fecha" ng-model="estudio.fecha">
                  </div>
                </div>
              </div>
            </div>

            <div class="panel col-xs-12 col-sm-12 col-md-12" ng-if="estudio.id_tipo==3" >
              <div class="col-xs-12 col-sm-12 col-md-4">
                <div class="form-group">
                  <div class="input-group cajaselect">
                    <span class="input-group-addon">Pertenece a</span>
                    <select class="conestilo"  name="" id="" ng-options="item.id_estudio as item.nombre for item in estudioFiltro" ng-model="estudio.padre">
                        <option value="" translate="seleccionar"></option> 
                    </select>
                  </div>
                </div>
              </div>
              
              <div class="col-xs-12 col-sm-12 col-md-4">
                <div class="form-group">
                  <div class="input-group">
                        <label for="" class="input-group-addon" translate="capitulo"></label>
                        <input type="text" class="form-control gris" name="volumen" value="" ng-model="estudio.orden">
                      </div>
                </div>
              </div>
            </div>
          </div>
        <!-- AUTORES-->
        <div class="panel col-xs-12 col-sm-12 col-md-12">
          <div class="panel-body">
              <div class="col-xs-12 col-sm-12 col-md-12 autor">
                <div class="form-group">
                  <div class="input-group">
                    <label for="" translate="autor"> (es):</label>
                     <a type="button" class="btn btn-primary nuevoBoton" data-toggle="modal" data-target="#myModalAutor"><i class="fa fa-plus fa-1x"></i></a>
                  </div>
                  <div id="global">
                    <div class="col-md-6 col-sm-6 col-xs-*" id="#scroll" ng-repeat="rowAutor in autor" style="display:flex">
                      <input type="checkbox" value="true" ng-model="rowAutor.estado">
                      <label style="padding-top:5px; text-transform:capitalize;font-weight:inherit">{{rowAutor.nombre+' '+rowAutor.ap_paterno}}</label>
                    </div>
                  </div>
                </div>
              </div>      
          </div>
        </div>
        
        <!-- CATEGORIA-->
        <div class="panel col-xs-12 col-sm-12 col-md-12">
          <div class="panel-body">
            <div class="col-xs-12 col-sm-12 col-md-12">
              <div class="form-group">
              <div class="input-group">
                <label for="" style="margin:10px" translate="categorias">:</label>
                <a type="button" class="btn btn-primary nuevoBoton" data-toggle="modal" data-target="#myModal"><i class="fa fa-plus fa-1x"></i></a>
                  <div id="global" style="border: 1px solid #4466bb; margin-bottom: 10px">
                    <div class="col-md-6 col-sm-6 col-xs-*" id="scroll" ng-repeat="rowDetallecat in categoria" style="display:flex;margin-top:5px">
                        <input type="checkbox" value="true" ng-model="rowDetallecat.estado">
                        <label style="padding-top:5px; text-transform:capitalize; font-weight:inherit">{{rowDetallecat.descripcion}}</label>
                    </div>
                  </div>                  
                </div>
                <!--<div class="input-group">
                  <label for="">Categoría (s):</label>
                  <a type="button" class="btn btn-primary nuevoBoton" data-toggle="modal" data-target="#myModal"><i class="fa fa-plus fa-1x"></i></a>
                </div>
                <div style="margin:10px"><label id="modalAutor" for="">Elija Categoría</label>
                  <select class="conestilo1" name="" id="" ng-options="item.id_categoria as item.descripcion for item in categoria" ng-model="categoria.id_categoria" style="text-transform:capitalize;">
                      <option value="">Seleccione categoría</option>
                  </select> 
                </div>-->
                <label for="" style="margin:10px" translate="subcategoria">:</label>
                  <div id="global" style="border: 1px solid #4466bb; margin-bottom: 10px">
                    <div class="col-md-4 col-sm-6 col-xs-*" id="scroll" ng-repeat="rowDetalle in subcategoria" style="display:flex;margin-top:5px">
                        <input type="checkbox" value="true" ng-model="rowDetalle.estado">
                        <label style="padding-top:5px; text-transform:capitalize; font-weight:inherit">{{rowDetalle.descripcion}}</label>
                    </div>
                  </div>
                <a href="" type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModalSubcategoria"><i class="fa fa-plus" style="margin-right:5px"></i><h5 translate="subcategoria" style="display:inline-block; font-size: 1rem;margin:0"></h5></a>
              </div>
            </div>
          </div>
        </div>   

        <!-- RESUMEN-->
        <div class="panel col-xs-12 col-sm-12 col-md-12">
          <div class="panel-body">
            <div class="col-xs-12 col-sm-12 col-md-12">
              <div class="form-group">
                <div class="input-group">
                  <label for="" translate="resumen"></label>
                </div>
                <textarea name="" id="" rows="3" ng-model="estudio.resumen" style="width:100%"></textarea>
              </div>
            </div>          
          </div>
        </div>  
        <hr>

         <!-- BOTONES-->
        <div class="col-xs-12 col-sm-12 col-md-12 text-center">
        <br>
          <a type="button" class="btn btn-success" href="#/multimedia" ng-click="guardarEstudios()" data-dismiss="modal"><i class=" fa fa-save" style="margin-right:5px;color:#fff"></i><h5 translate="guardar" style="display:inline-block; font-size: 1rem;margin: 0;color:#fff"></h5></a>
          <a type="button" class="btn btn-danger" data-dismiss="modal" href="./#/multimedia"><i class=" fa fa-times" style="margin-right:5px"></i><h5 translate="cancelar" style="display:inline-block; font-size: 1rem;margin: 0;"></h5></a>

          <a href="" type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModalCorreos"><i class="glyphicon glyphicon-envelope 1x"></i> Enviar Correo</a>
        </div>   
      </div>
    </div>
  </div>


<!--MODALES-->
<!--============ modal CATEGORIA==============-->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" >&times;</button>
        <h4 class="modal-title" translate="ncategoria"></h4>
      </div>
      <div class="modal-body">
        <p>
        <label id="modalAutor" for="" translate="nombre"></label>
        <input type="text" ng-model="categoria.descripcion" placeholder="Escriba el nombre de la categoría"></p> 
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="agregarCategoria()">Aceptar</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!--============ modal SUBCATEGORIA==============-->
<div id="myModalSubcategoria" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" >&times;</button>
        <h4 class="modal-title" translate="nsubcategoria"></h4>
      </div>
      <div class="modal-body">
        <p>
        <label id="modalAutor" for="" translate="nombre">Nombre</label>
        <input type="text" ng-model="subcategoria.descripcion" placeholder="Escriba el nombre de la sub-categoría"></p> 
        <p>
          <div class="col-xs-12 col-sm-12 col-md-12">
            <div class="form-group">
              <div class="input-group">
                <label for="" translate="categorias"></label>
                <a type="button" class="btn btn-primary nuevoBoton" data-toggle="modal" data-target="#myModal"><i class="fa fa-plus fa-1x"></i></a>
              </div>
              <div id="global">
                <div class="col-md-*" id="#scroll" ng-repeat="rowCategoria in categoria" style="display:flex">
                  <input type="checkbox" value="true" ng-model="rowCategoria.estado">
                    <label style="padding-top:5px; text-transform:capitalize;font-weight:inherit">{{rowCategoria.descripcion}}</label>
                </div></div>
            </div>
          </div>    
        </p>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="agregarSubCategoria()" translate="aceptar"></button>
        </div>
      </div>
    </div>
  </div>
</div>

<!--============ modal AUTOR==============-->
<div id="myModalAutor" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" >&times;</button>
        <h4 class="modal-title" translate="nautor"></h4>
      </div>
      <div class="modal-body">
        <p>
        <label id="modalAutor" for="" translate="nombre"></label>
        <input type="text" placeholder="Escriba el nombre del autor"  ng-model="autor.nombre" required></p> 
        <p>
        <label id="modalAutor" for="" translate="apellidop"></label>
        <input type="text" placeholder="Escriba el Apellido Paterno del autor"  ng-model="autor.ap_paterno" required></p> 
        <p>
        <label id="modalAutor" for="" translate="apellidom"></label>
        <input type="text" placeholder="Escriba el Apellido Materno del autor" ng-model="autor.ap_materno" required></p>
        <p>
        <label id="modalAutor" for="" translate="pais"></label>
        <select class="conestilo1" name="" id="combo" ng-options="item.id_pais as item.country_name for item in pais" ng-model="autor.id_pais">
            <option value="">--Seleccione Nacionalidad--</option>
        </select> 
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="agregarAutor()">Aceptar</button>
      </div>
    </div>
  </div>
</div>

<!--============ modal correos==============-->

<div id="myModalCorreos" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" >&times;</button>
        <h4 class="modal-title">Enviar Correo</h4>
      </div>
      <form method="post">
          <div class="modal-body">
            <p>
            <label id="modalAutor" for="">Destinatario:</label>
            <div class="input-group">
                <span class="input-group-addon">@</span>
                <input type="email" name="email" class="form-control" ng-model="email.destinatario" placeholder="example@example.com" required="required">
            </div></p> 
            <p>
            <label id="modalAutor" for="">Asunto:</label>
            <div class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
              <input type="text" class="form-control" placeholder="Escriba el asunto del mensaje"  ng-model="email.asunto" required="required">
            </div></p> 
            <p>
            <label id="modalAutor" for="">Mensaje:</label>
            <div class="input-group">
                <textarea name="" id="" cols="auto" rows="auto" ng-model="email.mensaje"></textarea>
            </div></p>        
          </div>
      </form>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="enviarCorreo()">Enviar</button>
      </div>
    </div>
  </div>
</div>

</body>