html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: transparent; }

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

@-ms-viewport {
  width: device-width; }
article, aside, dialog, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: block; }

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.5;
  color: #292b2c;
  background-color: #fff; }

[tabindex="-1"]:focus {
  outline: none !important; }

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible; }

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: .5rem; }

p {
  margin-top: 0;
  margin-bottom: 1rem; }

abbr[title],
abbr[data-original-title] {
  text-decoration: underline;
  text-decoration: underline dotted;
  cursor: help;
  border-bottom: 0; }

address {
  margin-bottom: 1rem;
  font-style: normal;
  line-height: inherit; }

ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1rem; }

ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0; }

dt {
  font-weight: bold; }

dd {
  margin-bottom: .5rem;
  margin-left: 0; }

blockquote {
  margin: 0 0 1rem; }

dfn {
  font-style: italic; }

b,
strong {
  font-weight: bolder; }

small {
  font-size: 80%; }

sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline; }

sub {
  bottom: -.25em; }

sup {
  top: -.5em; }

a {
  color: #0275d8;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects; }
  a:hover {
    color: #014c8c;
    text-decoration: underline; }

a:not([href]):not([tabindex]) {
  color: inherit;
  text-decoration: none; }
  a:not([href]):not([tabindex]):focus, a:not([href]):not([tabindex]):hover {
    color: inherit;
    text-decoration: none; }
  a:not([href]):not([tabindex]):focus {
    outline: 0; }

pre,
code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

pre {
  margin-top: 0;
  margin-bottom: 1rem;
  overflow: auto; }

figure {
  margin: 0 0 1rem; }

img {
  vertical-align: middle;
  border-style: none; }

svg:not(:root) {
  overflow: hidden; }

a,
area,
button,
[role="button"],
input,
label,
select,
summary,
textarea {
  -ms-touch-action: manipulation;
      touch-action: manipulation; }

table {
  border-collapse: collapse; }

caption {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  color: #636c72;
  text-align: left;
  caption-side: bottom; }

th {
  text-align: left; }

label {
  display: inline-block;
  margin-bottom: .5rem; }

button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color; }

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit; }

button,
input {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  padding: 0;
  border-style: none; }

input[type="radio"],
input[type="checkbox"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0; }

input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="month"] {
  -webkit-appearance: listbox; }

textarea {
  overflow: auto;
  resize: vertical; }

fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0; }

legend {
  display: block;
  width: 100%;
  max-width: 100%;
  padding: 0;
  margin-bottom: .5rem;
  font-size: 1.5rem;
  line-height: inherit;
  color: inherit;
  white-space: normal; }

progress {
  vertical-align: baseline; }

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

[type="search"] {
  outline-offset: -2px;
  -webkit-appearance: none; }

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button; }

output {
  display: inline-block; }

summary {
  display: list-item; }

template {
  display: none; }

[hidden] {
  display: none !important; }

html {
  font-size: 15px; }

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 1.4rem;
  font-weight: normal;
  line-height: 1.5;
  background: #f4f4f4;
  color: #333; }

.nuevo {
  background: white;
  border: 1px solid #333;
  border-radius: 10px; }

.nuevo label {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  font-weight: bold;
  color: #333; }

#calendario {
  float: left;
  margin-right: 0 16rem 0 0;
  padding: .5rem 0; }

#botones {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  padding: .5rem 0; }

#boton {
  margin-right: auto;
  margin-left: auto; }

#botonesLibro {
  padding: .2rem 0; }

.row button {
  width: 50%;
  height: 30px; }

.img-responsive {
  height: 150px;
  border: 1px solid #f4f4f4;
  border-radius: 4px;
  cursor: pointer; }

.img-responsive2 {
  height: 200px; }

.imag {
  margin: 20px; }

.img-libro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.nuevo {
  background: white;
  border-radius: 10px;
  border: 1px solid #ccc;
  padding: 15px; }

select.conestilo {
  background: transparent;
  border: 2px solid #4466bb;
  width: 100%;
  height: 28px;
  padding: 5px;
  padding: 0.3ex 2ex;
  border-radius: 0.25ex;
  color: #333; }

.cajaselect::after {
  font-family: FontAwesome;
  content: "\f0dd";
  display: inline-block;
  text-align: center;
  width: 30px;
  height: 100%;
  background-color: #4466bb;
  position: absolute;
  top: 0;
  right: 0px;
  pointer-events: none;
  color: antiquewhite;
  bottom: 0px;
  border-radius: 0.1ex 0.25ex 0.25ex 0.1ex; }

.cajaselect {
  overflow: hidden;
  position: relative;
  font-size: .9rem;
  color: #333;
  border-radius: 5px; }

input[type=text],
input[type=date] {
  border: 1px solid #4466bb;
  border-radius: 4px; }

#input-group {
  border: 1px solid #4466bb;
  border-radius-left: 4px; }

strong {
  color: #333;
  text-transform: capitalize;
  text-align: center;
  font-size: .9rem; }

#botonAtras {
  width: 10%;
  float: right; }

@media (min-width: 768px) {
  #boton {
    margin-right: auto;
    margin-left: auto;
    width: 15%; }

  #calendario {
    float: left;
    margin-right: 18rem;
    padding: .5rem .8rem; }

  .imagenes img {
    width: auto;
    heigth: auto; }

  #botonesLibro {
    margin: auto;
    padding: .2rem 0; }

  .row button {
    width: 50%;
    height: 30px; } }
.i {
  color: #4466bb;
  background: #f4f4f4;
  padding-right: 5px;
  border-bottom: 1px solid #4466bb; }

.i:hover {
  background: #4466bb; }

.i:hover > a > i, .i:hover > i {
  color: white !important;
  cursor: pointer; }

.cont-img {
  width: 20%;
  display: inline-block;
  margin: 0.25ex 0.5ex;
  border: 1px solid #4466bb;
  -webkit-box-shadow: 0px 2px 25px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 2px 25px rgba(0, 0, 0, 0.25); }

.cabecera {
  margin: 0; }

#nombre {
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background: #ccc;
  text-transform: capitalize; }

.btn-nuevo {
  margin: 20px; }

.btn-primary {
  background: #4466bb;
  border: 1px solid #f4f4f4; }

.btn-primary:hover,
.btn-primary:active,
.btn-primary.active,
.btn-primary.focus,
.btn-primary:active,
.btn-primary:focus,
.btn-primary:hover,
.open > .dropdown-toggle.btn-primary {
  background: #333;
  color: #f4f4f4;
  border: 1px solid #333;
  border: 1px solid #333; }

.img-tipoLibro {
  cursor: pointer; }

/*# sourceMappingURL=estilospag.css.map */