// Bootstrap Reboot only
//
// Includes only Normalize and our custom Reboot reset.

@import "custom";
@import "variables";
@import "mixins";

@import "reboot";

$principal:#4466bb;
$texto:#333;
$fondo:#f4f4f4;

html{
	font-size:15px;
}
body{
	margin: 0;
    font-family:'Roboto', sans-serif;
    font-size: 1.4rem;
    font-weight: normal;
    line-height: 1.5;
    background:$fondo;
    color:$texto;
}
.nuevo{
	background:white;
	border:1px solid $texto;
	border-radius:10px;
}
.nuevo label{
    font-family:'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: bold;
    color:$texto;
}

#calendario{
	float:left;
	margin-right:0 16rem 0 0;
	padding: .5rem 0;
}
#botones{
	display:flex;
	justify-content: center;
	flex-wrap:wrap;
	margin:0;
	padding: .5rem 0;
}
#boton{
    margin-right: auto;
    margin-left: auto;
}
#botonesLibro{
		//margin: auto;
	    padding: .2rem 0;
}
.row button{
		width:50%;
		height:30px;
}
.img-responsive{
		height:150px;
        border: 1px solid $fondo;
        border-radius:4px ;
        cursor:pointer;
}
.img-responsive2{
    height:200px;
}
.imag{
    margin: 20px;
}
.img-libro{
    display:flex;
    justify-content: center;
}
.nuevo{
	background:white;
	border-radius:10px;
	border:1px solid #ccc;
	padding:15px;
}
select.conestilo {
  background: transparent;
  border: 2px solid #4466bb;
  width: 100%;
  height: 28px;
  padding: 5px;
  padding: 0.3ex 2ex;
  border-radius: 0.25ex;
  color: #333; 
}
.cajaselect::after {
  font-family: FontAwesome;
  content: "\f0dd";
  display: inline-block;
  text-align: center;
  width: 30px;
  height: 100%;
  background-color: #4466bb;
  position: absolute;
  top: 0;
  right: 0px;
  pointer-events: none;
  color: antiquewhite;
  bottom: 0px;
  border-radius: 0.1ex 0.25ex 0.25ex 0.1ex; }
.cajaselect {
  overflow: hidden;
  position: relative;
  font-size: .9rem;
  color: #333;
  border-radius: 5px; 
}

input[type=text], 
input[type=date],{
	border:1px solid $principal;
	border-radius:4px;
}
#input-group{
	border:1px solid $principal;
	border-radius-left:4px;
}
strong{
    color:$texto;
    text-transform: capitalize;
    text-align: center;
    font-size: .9rem;
}
#botonAtras{
    width: 10%;
    float:right;
}
@media(min-width:768px){
	#boton{
	    margin-right: auto;
	    margin-left: auto;
	    width:15%;
	}
	#calendario{
		float:left;
		margin-right:18rem;
		padding: .5rem .8rem;
	}
	.imagenes img{
		width:auto;
		heigth: auto;
	}
	#botonesLibro{
		margin: auto;
	    padding: .2rem 0;
	}
	.row button{
		width:50%;
		height:30px;
	}
	
}
.i{
    color:$principal;
    background: $fondo;
    padding-right: 5px;
    border-bottom: 1px solid #ff0000;
}
.i:hover{
    background:$principal;
}
.i:hover>a> i,.i:hover>i{
    color:white!important;
    cursor:pointer;
}
.cont-img{
    width: 20%; 
    display: inline-block; 
    margin: 0.25ex 0.5ex; 
    border: 1px solid #f00; 
    box-shadow: 0px 2px 25px rgba(0, 0, 0, .25);
}
.cabecera{
    margin: 0;
   
}
#nombre{
    border-top-left-radius: 10px;
    border-bottom-right-radius:10px;
    background:#ccc; 
    text-transform: capitalize;
}
.btn-nuevo{
    margin:20px;
}
.btn-primary{
    background: $principal;
    border:1px solid $fondo;
}
.btn-primary:hover, 
.btn-primary:active,
.btn-primary.active, 
.btn-primary.focus, 
.btn-primary:active, 
.btn-primary:focus, 
.btn-primary:hover, 
.open>.dropdown-toggle.btn-primary{
    background: $texto;
    color:$fondo;
    border:1px solid $texto;
    border:1px solid $texto;
}
.img-tipoLibro{
    cursor:pointer;
}