<!DOCTYPE html>
<html lang="es" ng-app='angularRoutingApp'>
<head>
	<!-- Bootstrap 3.3.4 -->
    <link href="./vendor/adminlte/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="./css/estilos.css" rel="stylesheet" type="text/css" />
    <link href="./css/estilos-admin.css" rel="stylesheet" type="text/css" />
    <link href="./vendor/adminlte/bootstrap/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900" rel="stylesheet">

	<title translate="TITLE"></title>
</head>
<body ng-controller='mainController' >
      <header class="encabezado navbar fixed-top" role="banner">
        <div class="container">
          <button type="button" class="boton-menu" data-toggle="collapse" data-target="#menu-principal" aria-expanded="false">
            <li class="dropdown-menu-right" id="account" style="list-style:none"> 
                    <a href="/#" class="dropdown-toggle hvr-buzz-out" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-user-circle " id="usuario" style="color:#fff; font-size:30px"></i>
                    </a>
                    <a  id="cuadros" ng-click="lateral()">
                        <i class="fa fa-th-large" style="color:#fff; font-size:30px;margin-left: 20px"></i>
                    </a>
                    <a  id="cerrar-lateral" ng-click="lateralcerrar()" style="display:none;">
                        <i class="fa fa-times" style="color:#fff; font-size:30px;margin-left: 20px"></i>
                    </a> 
                    <div class="user-menu dropdown-menu dropdown-menu-right">
                        <div class="account-info">
                            <a class="user-photo">
                                <img src="./app/images/user_avatar.jpg" alt="user" class="img-responsive">
                            </a>
                            <div class="data-user">
                                <div class="user-name">Pvingles</div>
                                <div class="user-name">email@gmail.com</div>
                                <div class="user-name">97658245
                              </div>

                            </div>
                        </div>
                        <div class="action-buttons">
                            <div>
                                <a href="#" class="btn btn-default capitalize"><i class="fa fa-star-o fa-1x"></i> Favoritos</a>
                                
                            </div>
                            <div>
                                <a href="../" translate="cerrar"></a>
                            </div>
                        </div>
                    </div> 
                </li>
      </button>
          <nav class="collapse" id="menu-principal">
            <ul>  
            <li><a ng-href="#/libros" >Libros</a></li>
              <li><a ng-href="#/multimedia">MP3</a> </li>
              <li><a ng-href="">Audiolibros</a></li>
              <li><a ng-href="">Videos</a></li>
              <li><a ng-href="">Biblioteca</a></li>
              <li><a ng-href="">Museos</a></li>
            </ul>
      </nav>
          <nav id="menu-principal1">
            <ul> 
              <li><a ng-href="#/libros" data-toggle = "tooltip" data-placement = "bottom" title="Material de Lectura" style="border:0; color:white"><i class="glyphicon glyphicon-book" style="margin-right:5px"></i><h5 translate="lectura" style="display:inline-block; font-size: 1.4rem;"></h5></a> </li>
              <li><a href="#/multimedia" data-toggle = "tooltip" data-placement = "bottom" title="Multimedia" style="border:0; color:white"><i class="glyphicon glyphicon-volume-up" style="margin-right:5px"></i><h5 translate="multimedia" style="display:inline-block; font-size: 1.4rem;"></h5></a> </li>
              <li><a href="#/servicios" data-toggle = "tooltip" data-placement = "bottom" title="Servicios" style="border:0; color:white"><i class="fa fa-film" style="margin-right:5px"></i><h5 translate="servicios" style="display:inline-block; font-size: 1.4rem;"></h5></a></li>
              <li><a href="#/reportes" data-toggle = "tooltip" data-placement = "bottom" title="Setting" style="border:0; color:white"><i class="fa fa-cogs" style="margin-right:5px"></i><h5 translate="reportes" style="display:inline-block; font-size: 1.4rem;"></h5></a></li>

            </ul>
      </nav>
      <div class="col-xs-12" id="menu-left" style="height: 693px;width: 6%;display: initial;background: #f4f4f4;margin-top: 50px;position: absolute;right: 0px;top: 0px;z-index: 1;box-shadow: -15px -10px 8px -14px #777;border-top: 1px black solid;padding-left: 0px;padding-right: 0px;display: none;">
            <a class="btn btn-toolbar changeidioma" id="ingles" ng-click="lang('en')" style="background-color: #f4f4f4;border-bottom: 1px black solid;border-radius: 0;color: #555;margin: 0px;padding-top: 15px;padding-bottom: 15px;width: 100%;">
              <i class="fa fa-language hvr-float" aria-hidden="true" style="font-size: 2.5em;"></i>
            </a> 
            <a class="btn btn-toolbar changeidioma" id="espanol" ng-click="lang('es')" style="display:none;background-color: #f4f4f4;border-bottom: 1px black solid;border-radius: 0;color: #555;margin: 0px;padding-top: 15px;padding-bottom: 15px;width: 100%;">
              <i class="fa fa-language hvr-float" aria-hidden="true" style="font-size: 2.5em;"></i>
            </a> 
        </div>
    </div>
</header>
	<div id="main">
		<div ng-view>
		</div>
	</div>

	<script src="./vendor/angular/angular.js"></script>
	<script src="./vendor/angular-route/angular-route.js"></script>
  <script src="./main.js"></script>
  <script src="./vendor/angular-translate/angular-translate.js"></script>
<script src="./vendor/angular-translate/angular-translate.min.js"></script>
 <!--<script type='text/javascript' src="../fileupoad-angularjs-master/bower_components/angular/angular.js"></script>-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="./vendor/adminlte/bootstrap/js/bootstrap.min.js"></script>
<script>
   $(function () { $("[data-toggle = 'tooltip']").tooltip(); });
</script>
</body>
</html>