<link href="./css/estilospag.css" rel="stylesheet" type="text/css" />
<style>
  .mendi-social-networks {
    width: 100%;
    margin: 0;
  }
  .uno{
    position: fixed;
    top: 100px;
    left: 0;
    background: #dd9327;
    border: 0;
  } 
  .dos {
    position: fixed;
    top: 175px;
    left: 0;
    background: #db4343;
  } 
  .tres {
    position: fixed;
    top: 250px;
    left: 0;
    background: #bb9ddd;
  } 
  .cuatro {
    position: fixed;
    top: 325px;
    left: 0;
    background: #6ac182;
  } 
  .mendi-social-networks li i {
    font-size: 50px;
    float: left;
    width: 60px;
  }
  .mendi-social-networks li a {
    color: #ffffff;
    padding: 25px 65px 25px 40px;
    float: left;
    width: 100%;
    box-sizing: border-box;

  }
  .mendi-social-networks li a:hover {
    text-decoration:none;    
  }
  .mendi-social-networks li p {
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin: 2px 0 0px;
  }
  .mendi-social-networks li .followers {
    text-transform: uppercase;
  }

  .mendi-social-networks li:hover:before {
    background-color: #ffffff;
    color: #999999;
  }
  .social1 {
    position: fixed;
    left: 0;
    bottom: 15px;
    width: 200px;    
    z-index: 2000;
  }
  .social1 ul {
    list-style: none; }

  .social1 ul li a {
    display: inline-block;
    color: #fff;
    padding: 10px 0;
    text-decoration: none;
    -webkit-transition: all 500ms ease-in;
    transition: all 500ms ease-in;
    border: 2px solid #fff;
    border-radius: 4px; }
#btnHistorial{
  color: white;
}
#btnHistorial:hover{
  color: white;
}
</style>

<body>
<div class="container">
  <div class="row">
    <div class="col-md-12">
        <div class="col-md-12 pnl-formulario">
          <div class="row">
            <div class="col-md-12">
              <div class="nuevo" >
                <div class="row" style="padding: 0 15px">
                  <a id="btnHistorial" class="btn btn-primary" type="submit" onclick="goBack()" style="display:block; width:10%"><i class="fa fa-arrow-left" style="margin-right:5px"></i><h5 translate="atras" style="margin:auto"></h5></a>
                </div>
                  <div class="col-md-4 img-libro">
                  <img class="img-responsive2 imag" ng-src="../static/libreria/image/{{bib_estudio.foto}}"/>
                </div> 
                <div class="col-md-7 col-xs-12">
                    <label for="" translate="titulo"></label><br>
                    <div>
                      <input type="text" class="col-md-12 col-xs-12" ng-model="bib_estudio.nombre" disabled>
                    </div>
                    <label for="" translate="codigo"></label><br>
                    <div>
                      <input type="text" class="col-md-12 col-xs-12" ng-model="bib_estudio.codigo" disabled>
                    </div>
                    <label for="" translate="resumen"></label><br>
                    <div>
                      <textarea class="col-md-12 col-xs-12" cols="30" rows="3" ng-model="bib_estudio.resumen" disabled></textarea>
                    </div>
                    </div>
                    <div class="col-md-12" style="margin-top:30px;" >
                      <div style="display: flex;flex-wrap: wrap;justify-content: center;">
                        <a class="hvr-grow" id="capitulos" ng-click="capitulos(bib_estudio.id_estudio)" style="cursor:pointer;text-decoration: underline; color:#4466bb" translate="capitulos"></a>
                      </div>
                      <div style="display: flex;flex-wrap: wrap;justify-content: inherit;background:#4466bb">
                        <div  ng-repeat="row in musica" ng-click="playVideoNew(row.id_estudio)" style="padding: 20px;cursor:pointer;display:flex;color:#fff">
                          <li style="display:inline">Cap {{row.orden}}</li>
                          <audio tabindex="0" ng-src="{{playNewAudio(row.archivo)}}" id="myAudio_{{row.id_estudio}}" controls preload="auto" style="margin-left: 20px">
                              <source id="mySource">
                          </audio>
                        </div>
                      </div>
                    </div>
                   <!-- <div style="float:right;margin-top: 20px">
                      <a type="button" class="btn btn-primary" ng-click="irAudio()" style="color:#fff"><i class="fa fa-arrow-left fa-1x" style="margin-right:5px"></i><h5 translate="atras" style="margin:auto"></h5></a>
                    </div>-->
                  
                
                <div class="clearfix"></div>
               </div>
            </div>
             <div  class="col-md-12" id="contenedor_frame" style="margin-top:30px;display: none;margin-top: 30px;flex-wrap: wrap;justify-content:center">
              <a type="button" class="btn btn-success" ng-click="playAudio()" style="margin-right: 5px;color:#fff"><i class="fa fa-play fa-1x"></i> Play</a>
              <a type="button" class="btn btn-danger" ng-click="pauseAudio()" style="color:#fff"><i class="fa fa-stop fa-1x"></i> Stop</a>
            </div>
          </div>
          
        </div>
        <div class="pnl-ventanas col-md-4" style="display: none">
            <div class="col-md-12 iframe1 iframev"  style="display:none" >
              <!-- <iframe src="http://www.wikipedia.com" frameborder="0" width="100%" height="300px"></iframe> -->
            </div>
           <div class="col-md-12 iframe2 iframev" style="display:none">
             <!-- <iframe src="https://www.spanishdict.com/traductor" frameborder="0" width="100%" height="300px"></iframe> -->
           </div>
           <div class="col-md-12 iframe3 iframev" style="display:none">
             <!-- <iframe src="http://dle.rae.es/" frameborder="0" width="100%" height="300px"></iframe> -->
           </div>
           <div class="col-md-12 iframe4 iframev" style="display:none">
             <!-- <iframe src="https://www.quetext.com/" frameborder="0" width="100%" height="300px"></iframe> -->
           </div>
        </div>
    </div>
  </div>
</div>

  <input type="hidden" name="historial_ver" ng-model="historial.ver">
  <input type="hidden" name="historial_descargar" ng-model="historial.descargar">
  <footer class="hidden">
    <div class="row">
      <div class="social1 col-md-4">
        <div class="col-lg-12 ">
          <ul class="mendi-social-networks">
            <li class="mostrarIframe hvr-grow uno" data-ventana="iframe1">
              <a href="" title="Wikipedia" data-toggle="modal" data-target="#myModalWiki" >
                <img src="./app/images/wikipedia.png" class="img-responsive" style="height:50px;border:0">
              </a>
            </li>
            <li class="mostrarIframe hvr-grow dos" data-ventana="iframe2">
              <a href="" title="Traductor" data-toggle="modal" data-target="#myModalTraductor">
                <img src="./app/images/traductor.png" class="img-responsive" style="height:50px;border:0">
              </a>
            </li>
            <li class="mostrarIframe hvr-grow tres" data-ventana="iframe3">
              <a href="" title="Diccionario" data-toggle="modal" data-target="#myModalRae">
                <img src="./app/images/diccionario.png" class="img-responsive" style="height:50px;border:0">
              </a>
            </li>
            <li class="mostrarIframe hvr-grow cuatro" data-ventana="iframe4">
              <a href="" title="Detector de Plagio" data-toggle="modal" data-target="#myModalPlagio">
                <img src="./app/images/plagio.png" class="img-responsive" style="height:50px;border:0">
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
  <script>
  function goBack() {
      window.history.back();
    }

    $(document).ready(function(){
     $('.mostrarIframe').click(function(){
      $(this).toggleClass('active');
      if($(this).hasClass('active')){
        $('.pnl-formulario').removeClass('col-md-12').addClass('col-md-8');
        $('.pnl-ventanas').show();
        $('.iframev').css('display','none');
        var ven=$(this).attr('data-ventana')
        $('.'+ven).css('display','block');
      }else{
        $('.pnl-ventanas').hide();
        $('.pnl-formulario').removeClass('col-md-8').addClass('col-md-12');
        $('.mostrarIframe').removeClass('active');
        var ven=$(this).attr('data-ventana')
        $('.'+ven).css('display','none');
      } 
    });

   });
  </script>
</body>
