
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      </div>
    <div class="modal-body">
          <audio id="demo" ng-src="../static/libreria/audio/{{archivo}}"  controls></audio>
    </div>

    </div>
  </div>
</div> <!-- /#myModal -->