<link href="./css/estilospag.css" rel="stylesheet" type="text/css" />
<style>
.cont-img{
  border:  1px solid #4466bb;
}
  .i{
    border:  1px solid #4466bb;
    background: #fff;
  }
  .i:hover{
    background: #4466bb;
  }

  .pagination{
    float: right;
    font-size: 1rem;
  }
   .dropdown.dropdown-lg .dropdown-menu {
    margin-top: -1px;
    padding: 6px 20px;
}
.input-group-btn .btn-group {
    display: flex !important;
}
.btn-group .btn {
    border-radius: 0;
    margin-left: -1px;
}
.btn-group .btn:last-child {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.btn-group .form-horizontal .btn[type="submit"] {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.form-horizontal .form-group {
    margin-left: 0;
    margin-right: 0;
}
.form-group .form-control:last-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
#tipoAtras,#btnHistorial{
  color: white;
}
#tipoAtras:hover,#btnHistorial:hover{
  color: white;
}
@media screen and (min-width: 768px) {
    #adv-search {
        width: 500px;
        float: right;
        padding: 20px;
    }
    .dropdown.dropdown-lg {
        position: static !important;
    }
    .dropdown.dropdown-lg .dropdown-menu {
        min-width: 500px;
    }
}
</style>
<body>
<div class="container nuevo">
  <div class="row" style="padding: 0 15px">
    <a id="btnHistorial" class="btn btn-primary" type="submit" ng-click="irMusica()" style="display:block; width:10%"><i class="fa fa-arrow-left" style="margin-right:5px"></i><h5 translate="atras" style="margin:auto"></h5></a>
    <a id="tipoAtras" type="submit" id="botonAtras" class="btn btn-primary" ng-click="selecionarTipoMusica(0)" style="display:none; width:10%"><i class="fa fa-arrow-left" style="margin-right:5px"></i><h5 translate="atras" style="margin:auto"></h5></a>
  </div>
  <!-- <div class="row">
      <div class="col-md-12">
              <div class="col-md-6 input-group" id="adv-search">
                  <input type="text" class="form-control" placeholder="{{'buscar' | translate}}" ng-model="buscar"/>
                  <div class="input-group-btn">
                      <div class="btn-group" role="group">
                          <div class="dropdown dropdown-lg">
                              <button type="button" class="btn btn-primary dropdown-toggle flecha" data-toggle="dropdown" aria-expanded="false" style="height: 34px;border-radius: 4px;border: 0;color: white;padding-right: 20px;"><span class="caret" ng-click="resultado()"></span></button>
                              <div class="dropdown-menu dropdown-menu-right" role="menu">
                                  <form class="form-horizontal" role="form">
                                    <div class="form-group">
                                      <label for="filter" translate="categorias"></label>
                                      <div class="cajaselect">
                                        <select class=" form-control conestilo" ng-model="buscar.categorias_id" ng-options="item.id_categoria as item.descripcion for item in categorias" style="z-index: 0;">
                                            <option value="" translate="seleccione"></option>
                                        </select>
                                      </div>
                                    </div>
                                    <div class="form-group">
                                      <label for="contain" translate="autor"></label>
                                      <div class="cajaselect">
                                        <select class=" form-control conestilo" ng-model="buscar.autor_id" ng-options="item.id_autor as item.nombre+' '+item.ap_paterno+' '+item.ap_materno for item in autor" style="z-index: 0;">
                                        <option value="" translate="seleccione"></option>
                                        </select>
                                      </div>
                                    </div>
                                    <div class="form-group">
                                      <label for="contain" translate="idioma"></label>
                                      <div class="cajaselect">
                                        <select class=" form-control conestilo" ng-model="buscar.idioma_id" ng-options="item.descripcion for item in idioma" style="z-index: 0;">
                                        <option value="" translate="seleccione"></option>
                                        </select>
                                      </div>
                                    </div>
                                    <div class="form-group">
                                      <label for="contain" translate="contain"></label>
                                      <input class="form-control" type="text" placeholder="{{'palabra' | translate}}" ng-model="texto"/>
                                    </div>
                                    <div class="form-group" style="display:none">
                                      <div class="cajaselect">
                                        <select class=" form-control conestilo" ng-model="buscar.id_registro" ng-options="item.descripcion for item in idioma" style="z-index: 0;">
                                        <option value="4"></option>
                                        </select>
                                      </div>
                                    </div>                      
                                    <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-search" aria-hidden="true" ng-click="resultadoAvanzado()"></span></button>
                                  </form>
                              </div>
                          </div>
                          <button type="button" class="btn btn-primary" style="height: 34px;"><span class="glyphicon glyphicon-search" aria-hidden="true" ng-click="resultado()"></span></button>
                      </div>
                  </div>
              </div>
      </div>
  </div> -->

  <div class="panel-body" id="nuevoante">

    <div class="col-md-12" style="display: flex; flex-wrap: wrap; justify-content: center;">
      <div class="col-md-3" ng-repeat="row in tipo track by $index" ng-if="row.id_registro==5">
        <div class="col-md-3" style="width: 50%; background:#fff; opacity:0.8;position:absolute;color:#132a70;margin: 35px 115px;text-transform: uppercase; font-weight: bold ;font-size: 1.1rem; ">{{row.nombre | translate}}</div>
        <img class="img-responsive" ng-src="../static/libreria/image/{{row.foto}}" ng-click="selecionarTipoMusica(row.id_tipo)" style="width:100%; height: auto;overflow:hidden"><br> 
      </div>
    </div>
    <div class="hvr-float cont-img" id="mostrarLib" ng-repeat="row in selectEstudios track by $index">
          <a href="" >
          <div class="namelevel text-right i">
            <a href="" ng-click="agregarFavorito(row.id_estudio,'M')"><i class="fa fa-star-o"></i></a>
            <a href="" class="modalNotas" id="{{row.id_estudio}}"><i class="fa fa-bookmark-o"></i></a>
          </div>
          <img class="img img-responsive" ng-src="../static/libreria/image/{{row.foto}}" ng-click="verMusica(row.id_estudio)" style="width:100%; overflow:hidden"></a>
          <div class="namelevel text-center"><strong>{{row.nombre}}</strong></div>
    </div>    
  </div>
  
  <div class="container" id="nuevo25" style="display:none">
        <div class="col-md-12" style="display: flex; flex-wrap: wrap; justify-content: center;">
          <div class="hvr-float cont-img" ng-repeat="row in estudio">
              <div class="namelevel text-right i">
                <a href="" ng-click="agregarFavorito(row.id_estudio,'M')"><i class="fa fa-star-o"></i></a>
                <a href="" class="modalNotas" id="{{row.id_estudio}}"><i class="fa fa-bookmark-o"></i></a>
              </div>
              <img class="img img-responsive" ng-src="../static/libreria/image/{{row.foto}}" ng-click="verAudio(row.id_estudio)" style="width:100%; overflow: hidden">

              <div class="namelevel text-center"><strong>{{row.nombre}}</strong></div>
          </div>              
        </div>

        <div id="museo" style="display:none;margin-left: 20px">
          <a ng-click="irMusica()" class="btn-primary" type="submit" style="float:left;cursor:pointer;padding: 0 10px;color:#fff" translate="atras"></a>
        </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal3" tabindex="-1" role="dialog" aria-labelledby="exampleModal3Label" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModal3Label" translate="investigacion"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

           <div class="hvr-float cont-img" ng-repeat="row in recursos" id="notasEditar">
           <!-- <a href="" ng-click="eliminar(row.id_personal,row.orden)"><div class="namelevel text-right i"><i class="fa fa-trash"></i></div></a>-->
            <a class="enlace" info="?acc=editar&dni={{row.id_personal}}&orden={{row.orden}}" href="../bib_recursos/">
                <img class="img img-responsive" ng-src="{{row.caratula}}" style="width:100%; overflow:hidden" >
            </a>
            <div class="namelevel text-center"><strong>{{row.titulo}}</strong></div>  
          </div>              

      </div>
      <div class="modal-footer">
        <a type="button" info="?acc=nuevo" href="../bib_recursos/" class="btn btn-success enlaceNuevo enlace" translate="nuevo" style="float:left"></a>
        <a type="button" class="btn btn-danger" data-dismiss="modal" translate="cancelar" style="color:#fff"></a>
      </div>
    </div>
  </div>
</div>
 <script type="text/javascript">
    function goBack() {
      window.history.back();
    }
    $('body').on('click','.modalNotas', function(){    
      var id=$(this).attr('id');
      $("#notasEditar").find('a.enlace').each(function(){
        info=$(this).attr('info')+'&id='+id+'&tipo=A';
        $(this).attr('info',info);
        href=$(this).attr('href')+info;
        $(this).attr('href',href);
      });

      info=$('.enlaceNuevo').attr('info')+'&id='+id+'&tipo=A';
      href=$(this).attr('href')+info;
      $('.enlaceNuevo').attr('info',info);
      $('.enlaceNuevo').attr('href',href);
      $("#exampleModal3").modal('show');
    });
    $('body').on('click','#exampleModal3 .enlace', function(ev){
       ev.preventDefault();
       var enlace=$(this);
       var link=$(this).attr('href');
       console.log(link);
       console.log(enlace);
       $.ajax({
          url : '../bib_recursos/nuevoRecurso'+enlace.attr('info'),
          type : 'GET',
          dataType : 'json',
          success : function(json) {
              console.log(json);
              window.location=link;
          },
          error: function(xhr, status) {
            console.log(xhr,status);
          },
      });  
    });
  </script>
</body>