<link href="./css/estilospag.css" rel="stylesheet" type="text/css" />
<link href="../modbiblioteca/css/estilospag.css" rel="stylesheet" type="text/css" />
<style>
.cont-img{
  border:  1px solid #4466bb;
}
  .i{
    border:  1px solid #4466bb;
    background: #fff;
  }
  .i:hover{
    background: #4466bb;
  }

  .pagination{
    float: right;
    font-size: 1rem;
  }
.dropdown.dropdown-lg .dropdown-menu {
    margin-top: -1px;
    padding: 6px 20px;
}
.input-group-btn .btn-group {
    display: flex !important;
}
.btn-group .btn {
    border-radius: 0;
    margin-left: -1px;
}
.btn-group .btn:last-child {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.btn-group .form-horizontal .btn[type="submit"] {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.form-horizontal .form-group {
    margin-left: 0;
    margin-right: 0;
}
.form-group .form-control:last-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

@media screen and (min-width: 768px) {
    #adv-search {
        width: 500px;
        float: right;
        padding: 20px;
    }
    .dropdown.dropdown-lg {
        position: static !important;
    }
    .dropdown.dropdown-lg .dropdown-menu {
        min-width: 500px;
    }
}
</style>

<body>
<div class="container nuevo">
  <div class="row">
    <div class="col-md-12">
            <div class="input-group" id="adv-search">
                <input type="text" class="form-control" placeholder="Buscar" ng-model="buscar"/>
                <div class="input-group-btn">
                    <div class="btn-group" role="group">
                        <div class="dropdown dropdown-lg">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><span class="caret" ng-click="resultado()"></span></button>
                            <div class="dropdown-menu dropdown-menu-right" role="menu">
                                <form class="form-horizontal" role="form">
                                  <div class="form-group">
                                    <label for="filter">Categorías</label>
                                    <div class="cajaselect">
                                      <select class=" form-control conestilo" ng-model="buscar.categorias_id" ng-options="item.id_categoria as item.descripcion for item in categorias">
                                          <option value="">Elige Categoria</option>
                                      </select>
                                    </div>
                                  </div>
                                  <div class="form-group">
                                    <label for="contain">Autor</label>
                                    <div class="cajaselect">
                                      <select class=" form-control conestilo" ng-model="buscar.autor_id" ng-options="item.id_autor as item.nombre+' '+item.ap_paterno+' '+item.ap_materno for item in autor">
                                      <option value="">Elige Autor</option>
                                      </select>
                                    </div>
                                  </div>
                                  <div class="form-group">
                                    <label for="contain">Contiene las palabras</label>
                                    <input class="form-control" type="text" placeholder="Escribe una palabra" ng-model="texto"/>
                                  </div>
                                  <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-search" aria-hidden="true" ng-click="resultadoAvanzado()"></span></button>
                                </form>
                            </div>
                        </div>
                        <button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-search" aria-hidden="true" ng-click="resultado()"></span></button>
                    </div>
                </div>
            </div>
          </div>
  </div>
  <div class="panel-body" id="nuevoante">
    <div class="col-md-4" id="sinTipo" ng-repeat="row in tipo" ng-if="row.id_registro==4">
      <div class="row cabecera">
        <div class="col-md-6 col-sm-6 col-xs-6" id="nombre" style="background:#ccc; text-transform: capitalize;">
             <label for="">{{row.nombre}}</label>
        </div>
     </div>
        <img class="img-responsive" src="../static/libreria/image/{{row.foto}}" ng-click="selecionarTipoMusica(row.id_tipo)" style="width:50%; overflow:hidden"><br>   
    </div>
    <div class="col-md-12" id="Tipo" style="display: none; flex-wrap: wrap; justify-content: center;">
      <div class="hvr-float cont-img" ng-repeat="row in items">
           <div class="namelevel text-right i">
                 <a href="" ng-click="agregarFavorito(row.id_estudio)"><i class="fa fa-star-o"></i></a>
            </div>
            <img class="img img-responsive" src="../static/libreria/image/{{row.foto}}" ng-click="verMusica(row.id_estudio)" style="width:100%; overflow: hidden;" >

            <div class="namelevel text-center" style="line-height:18px"><strong>{{row.nombre}}</strong></div>  
        </div>              
    </div>
    <ul ng-if="pager.pages.length" class="pagination">
                <li ng-class="{disabled:pager.currentPage === 1}">
                    <a ng-click="setPage(1)">First</a>
                </li>
                <li ng-class="{disabled:pager.currentPage === 1}">
                    <a ng-click="setPage(pager.currentPage - 1)">Previous</a>
                </li>
                <li ng-repeat="page in pager.pages" ng-class="{active:pager.currentPage === page}">
                    <a ng-click="setPage(page)">{{page}}</a>
                </li>                
                <li ng-class="{disabled:pager.currentPage === pager.totalPages}">
                    <a ng-click="setPage(pager.currentPage + 1)">Next</a>
                </li>
                <li ng-class="{disabled:pager.currentPage === pager.totalPages}">
                    <a ng-click="setPage(pager.totalPages)">Last</a>
                </li>
            </ul>
    </div>

     <button type="button" id="botonAtras" class="btn btn-primary" ng-click="selecionarTipoMusica(0)">Atrás</button>   

      <div class="container" id="nuevo25" style="display:none">
        <div class="col-md-12" style="display: flex; flex-wrap: wrap; justify-content: center;">
          <div class="hvr-float cont-img" ng-repeat="row in estudio">
               <div class="namelevel text-right i">
                 <a href="" ng-click="agregarFavorito(row.id_estudio)"><i class="fa fa-star-o"></i></a>
            </div>
                <img class="img img-responsive" src="../static/libreria/image/{{row.foto}}" ng-click="verAudio(row.id_estudio)" style="width:100%; overflow: hidden">

                <div class="namelevel text-center"><strong>{{row.nombre}}</strong></div>
            </div>  
        </div>

      </div> 
    </div> 
</body>
